html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  box-sizing: border-box; }

/**
 * universal baseline
 * 1 font-smoothing makes our text sharp
 * 2 on really supported on mozilla / opera / safari
 * 3 wont work on firefox unfortunately
 * 5 this setting can speed up font rendering significantly, esp on mobile
 * 6 remove click delay on microsoft devices
 */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  touch-action: manipulation; }

img {
  width: 100%;
  height: auto;
  display: block; }

/**
 * General vars, colors, fonts, block vars, hashes, etc
*/
.gq-red {
  color: #e72933; }

@font-face {
  font-family: 'AvenirLTStd-Black';
  font-style: normal;
  src: local("AvenirLTStd-Black"), local("Avenir LT Std 65 Medium"), url("../fonts/7ae2772c18f7ec1a6bff9cff93c09a87.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirLTStd-Medium';
  font-style: normal;
  src: local("AvenirLTStd-Medium"), local("Avenir LT Std 65 Medium"), url("../fonts/20af692f4ddaba3a7c0ac67fd7a8b14a.ttf") format("truetype"); }

@font-face {
  font-family: A2-Semibold;
  font-style: normal;
  src: url("../fonts/A2Regular-Semibold.woff"); }

@font-face {
  font-family: 'Proxima-Bold';
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Proxima-Semibold';
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: 'Proxima-Light';
  src: url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"); }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  font: 400 1em/1.5 'AvenirLTStd-Black', Georgia, "Times New Roman", Times, serif; }

.sections-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  margin: 2em auto; }
  .panel > p {
    color: red; }
  .panel.morning {
    align-items: flex-end; }
  .panel.afternoon {
    align-items: flex-end; }
  .panel.night {
    align-items: flex-end; }
  .panel.intro {
    justify-content: flex-start;
    padding-top: 2em;
    margin-bottom: 2em; }
  @media screen and (min-width: 700px) {
    .panel {
      height: 100%; }
      .panel.intro {
        justify-content: center;
        padding-top: 0;
        height: 100%;
        margin-bottom: 0;
        margin-top: 0; }
      .panel.endframe {
        height: 100%; } }

.bg-gradient {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.bg-img {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 0;
  background: url("../img/carbonfiber.jpg") top left no-repeat;
  background-size: cover; }

.grid-panel h2 {
  text-transform: uppercase;
  font-size: 24px;
  color: white;
  line-height: 30px;
  font-family: 'Proxima-Semibold', 'Montserrat', sans-serif;
  letter-spacing: 4px; }

.grid-panel h3 {
  font-size: 14px;
  line-height: 3.5vh;
  text-transform: uppercase;
  font-family: 'Proxima-Light', 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 1.5em;
  letter-spacing: 2px; }
  .grid-panel h3 > a {
    text-decoration: none;
    color: white;
    transition: all 0.4s ease-in-out;
    cursor: pointer; }
    .grid-panel h3 > a:hover {
      color: #e72933; }

.gq-header {
  position: relative;
  z-index: 10;
  width: 100%; }

.nav-container {
  width: 100%;
  position: relative;
  display: flex; }
  @media only screen {
    .nav-container {
      margin-left: 152px;
      max-width: 500px;
      height: 70px; } }

.nav-items {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between; }
  .nav-items > li {
    font-family: AvenirLTStd-Medium; }

.gq-header-nav-link {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  transition: color 0.2s, border-bottom 0.2s, padding-bottom 0.2s;
  border-bottom: 1px solid transparent;
  color: #000;
  padding-bottom: 5px;
  letter-spacing: 0.4px;
  text-transform: none; }
  .gq-header-nav-link:hover {
    color: #e72933;
    padding-bottom: 0;
    border-bottom: 1px solid #e72933; }

.subscribe-wrapper {
  background-color: #FFF;
  top: 0%;
  right: 0%;
  position: absolute;
  max-height: 68px;
  min-height: 68px;
  max-width: 135px;
  min-width: 135px; }

.logo-lockup {
  width: 85%;
  position: relative;
  text-align: center; }
  @media screen and (min-width: 700px) {
    .logo-lockup {
      max-width: 40%; } }

.intro-copy, .endframe-copy {
  color: #FFF;
  font-size: 14px;
  line-height: 20px;
  margin-top: 1em;
  font-family: 'Proxima-Semibold', 'Montserrat', sans-serif;
  padding-bottom: 20px; }

.intro-nav-grid {
  width: 100%;
  max-width: 1100px;
  max-width: 70%;
  margin: 2em auto 0; }
  .intro-nav-grid .grid-item > a {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-bottom: 1em; }
    .intro-nav-grid .grid-item > a .hero-wrapper {
      overflow: hidden;
      position: relative;
      display: block;
      transition: all 0.4s ease-out;
      width: 75%; }
      .intro-nav-grid .grid-item > a .hero-wrapper > img {
        width: 100%;
        height: auto; }
      .intro-nav-grid .grid-item > a .hero-wrapper:before {
        content: '';
        height: 100%;
        width: 0%;
        transition: all 0.55s ease-out;
        position: absolute;
        background-color: red;
        mix-blend-mode: multiply;
        top: 0;
        left: 0;
        opacity: 0.75;
        z-index: 2; }
    .intro-nav-grid .grid-item > a h3 {
      font-family: 'Proxima-Bold', 'Montserrat', sans-serif;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 22px;
      line-height: 26px;
      margin-top: 1em; }
    .intro-nav-grid .grid-item > a p {
      font-family: 'Proxima-Semibold', 'Montserrat', sans-serif;
      letter-spacing: 2px; }
    .intro-nav-grid .grid-item > a:hover .hero-wrapper:before {
      width: 100%; }
  @media screen and (min-width: 700px) {
    .intro-nav-grid {
      max-width: 70%;
      margin: 30px auto;
      display: flex;
      flex-direction: row; }
      .intro-nav-grid .grid-item {
        display: block;
        border-bottom: none;
        margin-right: 6px; }
        .intro-nav-grid .grid-item > a {
          display: block;
          margin-bottom: 0; }
          .intro-nav-grid .grid-item > a .hero-wrapper {
            width: 100%; } }

.grid-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  padding: 1em; }
  .grid-panel > div:nth-child(3) {
    padding: 1.5em 0; }
  .grid-panel .grid-media {
    width: 100%; }
  .grid-panel .grid-desc-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; }
    .grid-panel .grid-desc-wrapper > p {
      width: 100%;
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;
      font-family: 'Proxima-Light', 'Montserrat', sans-serif;
      color: white; }
      .grid-panel .grid-desc-wrapper > p > a {
        color: #e72933;
        text-decoration: underline;
        transition: all 0.2s ease-out;
        cursor: pointer; }
        .grid-panel .grid-desc-wrapper > p > a:hover {
          color: #991118; }
    .grid-panel .grid-desc-wrapper > img {
      display: none; }
  @media screen and (min-width: 700px) {
    .grid-panel {
      max-width: 70%;
      margin: 0 auto;
      padding: 0; }
      .grid-panel .grid-desc-wrapper > p {
        width: 57%; }
      .grid-panel .grid-desc-wrapper > img {
        width: 24%;
        display: block; } }

.panel.endframe .product {
  max-width: 125px;
  height: auto;
  margin: 0 auto; }

.endframe-copy {
  padding-bottom: 1em; }
  .endframe-copy > a {
    color: #e72933;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out; }
    .endframe-copy > a:hover {
      color: #991118; }

.buy-button {
  background-color: none;
  max-width: 165px;
  margin: 33px auto;
  font-family: 'Proxima-Semibold', 'Montserrat', sans-serif; }
  .buy-button > a {
    display: block;
    border: 2px solid white;
    padding: 0.75em 2em;
    color: white;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 1em;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out; }
    .buy-button > a:hover {
      background-color: #e72933;
      border: 2px solid #e72933; }

.timeline {
  position: fixed;
  z-index: 2;
  width: 100px;
  height: 75%;
  top: 10%;
  left: -500px;
  opacity: 0;
  display: none; }
  .timeline .dot {
    height: 13px;
    width: 13px;
    background-color: white;
    position: absolute;
    border-radius: 100%;
    transition: all 0.5s ease;
    z-index: 2; }
    .timeline .dot.set {
      background-color: red;
      border: none; }
    .timeline .dot.active {
      border: 2px solid red;
      background-color: white; }
    .timeline .dot.one {
      top: 0; }
    .timeline .dot.two {
      top: 33%; }
    .timeline .dot.three {
      top: 66%; }
    .timeline .dot.four {
      top: 99%; }
  .timeline .line {
    background-color: #FFF;
    position: absolute;
    width: 3px;
    height: 33%;
    left: 5px; }
    .timeline .line.line-one {
      height: 100%; }
    .timeline .line.line-active {
      background-color: red;
      z-index: 1;
      height: 1%; }
  .timeline .tag {
    position: absolute;
    width: 120px; }
    .timeline .tag.tag-morning {
      top: 16%;
      opacity: 0; }
    .timeline .tag.tag-afternoon {
      top: 46%;
      opacity: 0; }
    .timeline .tag.tag-night {
      top: 75%;
      opacity: 0; }
  @media screen and (min-width: 700px) {
    .timeline {
      display: block; } }

/* GQ Header Styles */
#n2spacer_57d325146c7ff {
  width: 100%;
  display: block;
  height: 10vh;
  position: relative; }

.float-left-container > * {
  display: inline-block;
  width: auto !important; }

#n2spacer_57d325146dd45 {
  width: 100%;
  display: block;
  height: 10vh;
  position: relative; }

#n2section_57d325146c739 {
  position: relative; }

@media only screen {
  #wrpr_57d325146c5b1 {
    max-height: none;
    min-height: 0px;
    min-width: 0px;
    background-image: none;
    background-color: transparent;
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat; }
  #wrpr_57d325146c677 {
    position: relative;
    height: 100%; }
  #n2section_57d325146c739 {
    max-height: 68px;
    min-height: 68px;
    background-color: white; }
  #n2spacer_57d325146c7ff {
    min-height: 68px;
    max-width: 140px;
    max-height: 68px;
    position: absolute;
    left: 0%;
    top: 0%;
    min-width: 140px;
    background-image: url("../img/gq-logo.svg");
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat; }
  #n2spacer_57d325146dd45 {
    max-height: 68px;
    min-height: 68px;
    max-width: 135px;
    min-width: 135px;
    top: 0%;
    right: 0%;
    position: absolute;
    background-image: url("https://n2ps.storied.co/uploads/3cb1c94be63648d756892585bc677ca5.jpg");
    background-size: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  #wrpr_57d325146cbf8 {
    font-size: 0.875rem; }
  #text_57d325146cd74 {
    line-height: 4.25rem;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block; }
  #wrpr_57d325146cfc4 {
    font-size: 0.875rem; }
  #text_57d325146d082 {
    line-height: 4.25rem;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block; }
  #wrpr_57d325146d2ce {
    font-size: 0.875rem; }
  #text_57d325146d39c {
    line-height: 4.25rem;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block; }
  #wrpr_57d325146d5ea {
    font-size: 0.875rem; }
  #text_57d325146d6a9 {
    line-height: 4.25rem;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block; }
  #wrpr_57d325146d8f1 {
    font-size: 0.875rem; }
  #wrpr_57d325146dbc5 {
    font-size: 0.875rem; } }

@media only screen and (max-width: 480px) {
  #wrpr_57d325146c5b1 {
    padding: 0px;
    margin: 0px;
    z-index: auto;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    max-height: none;
    min-height: 0px;
    background-position: 66% 24%; }
  .nav-container {
    display: none; } }
