// styles.scss

@import 'reset';


html, body
{
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
    position: relative;
}

.sections-wrapper{
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.panel{
	border:1px solid blue;
	width:100%;
	height:100%;
	display: flex;
    flex-direction:column;
	align-items: center;
	justify-content: center;
	z-index: 1;
	>p{
		color:red;
	}
}

.bg-img-wrapper{
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	z-index: 0;
	background:url('/img/sky.jpg') top left no-repeat;
	background-size:cover;
}