html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  box-sizing: border-box; }

/**
 * universal baseline
 * 1 font-smoothing makes our text sharp
 * 2 on really supported on mozilla / opera / safari
 * 3 wont work on firefox unfortunately
 * 5 this setting can speed up font rendering significantly, esp on mobile
 * 6 remove click delay on microsoft devices
 */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  touch-action: manipulation; }

img {
  width: 100%;
  height: auto;
  display: block; }

/**
 * General vars, colors, fonts, block vars, hashes, etc
*/
.gq-red {
  color: #e72933; }

@font-face {
  font-family: 'AvenirLTStd-Black';
  font-style: normal;
  src: local("AvenirLTStd-Black"), local("Avenir LT Std 65 Medium"), url("../fonts/7ae2772c18f7ec1a6bff9cff93c09a87.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirLTStd-Medium';
  font-style: normal;
  src: local("AvenirLTStd-Medium"), local("Avenir LT Std 65 Medium"), url("../fonts/20af692f4ddaba3a7c0ac67fd7a8b14a.ttf") format("truetype"); }

@font-face {
  font-family: A2-Semibold;
  font-style: normal;
  src: url("../fonts/A2Regular-Semibold.woff"); }

@font-face {
  font-family: 'Proxima-Bold';
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Proxima-Semibold';
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: 'Proxima-Light';
  src: url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Proxima-Regular';
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Proxima-Regular-Italic';
  src: url("../fonts/ProximaNova-RegularIt.woff") format("woff"), url("../fonts/ProximaNova-RegularIt.ttf") format("truetype"); }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  font: 400 1em/1.5 'AvenirLTStd-Black', Georgia, "Times New Roman", Times, serif; }

.sections-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.top-gradient-fixed {
  position: fixed;
  display: none;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 175px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+20,000000+100&0.65+20,0+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 20%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 20%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 20%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */ }
  @media screen and (min-width: 700px) {
    .top-gradient-fixed {
      display: block; } }

.intro-arrow-down {
  position: absolute;
  bottom: 8%;
  height: 32px;
  width: 100%;
  z-index: 1;
  display: none; }
  .intro-arrow-down > img {
    width: 52px;
    max-width: 100%;
    margin: 0 auto;
    display: block; }
  @media screen and (min-width: 700px) {
    .intro-arrow-down {
      display: block; } }

.panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  margin: 5em auto; }
  .panel > p {
    color: red; }
  .panel.morning {
    align-items: flex-end; }
  .panel.afternoon {
    align-items: flex-end; }
  .panel.night {
    align-items: flex-end; }
  .panel.intro {
    justify-content: flex-start;
    padding-top: 2em;
    margin-bottom: 2em; }
  @media screen and (min-width: 700px) {
    .panel.intro, .panel.endframe {
      height: 100%; }
    .panel.morning {
      height: auto; }
    .panel.intro {
      justify-content: center;
      padding-top: 0;
      height: 100%;
      margin-bottom: 0;
      margin-top: 0; }
    .panel.endframe {
      height: 100%; } }

.bg-gradient {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.bg-img {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 0;
  background: url("../img/carbonfiber.jpg") top left no-repeat;
  background-size: cover; }

.grid-panel h2 {
  text-transform: uppercase;
  font-size: 24px;
  color: white;
  line-height: 30px;
  font-family: 'Proxima-Semibold', 'Montserrat', sans-serif;
  letter-spacing: 4px; }

.grid-panel h3 {
  font-size: 14px;
  line-height: 3.5vh;
  text-transform: uppercase;
  font-family: 'Proxima-Light', 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 1.5em;
  letter-spacing: 2px; }
  .grid-panel h3 > a {
    text-decoration: none;
    color: #e72933;
    transition: all 0.4s ease-in-out;
    cursor: pointer; }
    .grid-panel h3 > a:hover {
      color: white; }

.gq-header {
  position: relative;
  z-index: 10;
  width: 100%; }

.nav-container {
  width: 100%;
  position: relative;
  display: flex; }
  @media only screen {
    .nav-container {
      margin-left: 152px;
      max-width: 500px;
      height: 70px; } }

.nav-items {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between; }
  .nav-items > li {
    font-family: AvenirLTStd-Medium; }

.gq-header-nav-link {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  transition: color 0.2s, border-bottom 0.2s, padding-bottom 0.2s;
  border-bottom: 1px solid transparent;
  color: #000;
  padding-bottom: 5px;
  letter-spacing: 0.4px;
  text-transform: none; }
  .gq-header-nav-link:hover {
    color: #e72933;
    padding-bottom: 0;
    border-bottom: 1px solid #e72933; }

.subscribe-wrapper {
  background-color: #FFF;
  top: 0%;
  right: 0%;
  position: absolute;
  max-height: 68px;
  min-height: 68px;
  max-width: 135px;
  min-width: 135px; }

.sponsored-by {
  position: absolute;
  top: -50px;
  width: 65%;
  z-index: 500;
  left: 50%;
  margin-left: -32.5%; }
  @media screen and (min-width: 700px) {
    .sponsored-by {
      top: 30px;
      width: 20%;
      left: 50%;
      margin-left: -10%; } }

.logo-lockup {
  width: 85%;
  position: relative;
  text-align: center; }
  @media screen and (min-width: 700px) {
    .logo-lockup {
      max-width: 30%; } }

.intro-copy, .endframe-copy {
  color: #FFF;
  font-size: 14px;
  line-height: 20px;
  margin: 1em auto 2em;
  font-family: 'Proxima-Semibold', 'Montserrat', sans-serif; }
  @media screen and (max-width: 700px) {
    .intro-copy, .endframe-copy {
      padding: 0 1em; } }

.intro-nav-grid {
  width: 100%;
  max-width: 1100px;
  max-width: 85%;
  margin: 2em auto 0; }
  .intro-nav-grid .grid-item > a {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: white; }
    .intro-nav-grid .grid-item > a .hero-wrapper {
      overflow: hidden;
      position: relative;
      display: block;
      transition: all 0.4s ease-out;
      width: 90%; }
      .intro-nav-grid .grid-item > a .hero-wrapper > img {
        width: 100%;
        height: auto; }
      .intro-nav-grid .grid-item > a .hero-wrapper .hero-wrapper-hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 3;
        transition: all 0.4s ease-out;
        -webkit-transition-delay: 0.2s;
        /* Safari */
        transition-delay: 0.2s;
        opacity: 0; }
      .intro-nav-grid .grid-item > a .hero-wrapper:before {
        content: '';
        height: 100%;
        width: 0%;
        transition: all 0.55s ease-out;
        position: absolute;
        background-color: red;
        mix-blend-mode: multiply;
        top: 0;
        left: 0;
        opacity: 0.75;
        z-index: 2; }
    .intro-nav-grid .grid-item > a h3 {
      font-family: 'Proxima-Bold', 'Montserrat', sans-serif;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 22px;
      line-height: 26px;
      margin-top: 1em; }
    .intro-nav-grid .grid-item > a p {
      font-family: 'Proxima-Light', 'Proxima-Semibold', 'Montserrat', sans-serif;
      letter-spacing: 2px; }
    .intro-nav-grid .grid-item > a:hover .hero-wrapper .hero-wrapper-hover {
      opacity: 1; }
    .intro-nav-grid .grid-item > a:hover .hero-wrapper:before {
      width: 100%; }
  @media screen and (min-width: 700px) {
    .intro-nav-grid {
      max-width: 70%;
      margin: 30px auto;
      display: flex;
      flex-direction: row; }
      .intro-nav-grid .grid-item {
        display: block;
        border-bottom: none;
        margin-right: 6px;
        width: 33%; }
        .intro-nav-grid .grid-item > a {
          display: block;
          margin-bottom: 0; }
          .intro-nav-grid .grid-item > a .hero-wrapper {
            width: 100%; } }

.grid-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap; }
  .grid-panel .grid-media {
    width: 100%; }
  .grid-panel .grid-desc-wrapper {
    background: rgba(0, 0, 0, 0.75);
    margin: 0 10%;
    padding: 18px 20px; }
    .grid-panel .grid-desc-wrapper > h2 {
      font-size: 1.6em;
      line-height: 28px; }
    .grid-panel .grid-desc-wrapper > p {
      width: 100%;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      font-family: 'Proxima-Regular', 'Proxima-Light', 'Montserrat', sans-serif;
      color: white;
      margin-bottom: 1em; }
      .grid-panel .grid-desc-wrapper > p > em {
        font-family: 'Proxima-Regular-Italic', 'Proxima-Light', 'Montserrat', sans-serif; }
      .grid-panel .grid-desc-wrapper > p > a {
        color: #e72933;
        text-decoration: none;
        transition: all 0.2s ease-out;
        cursor: pointer;
        display: block; }
        .grid-panel .grid-desc-wrapper > p > a:hover {
          color: #991118; }
    .grid-panel .grid-desc-wrapper .mob-timeline-tag {
      max-width: 16%;
      height: auto;
      margin-bottom: 32px; }
    .grid-panel .grid-desc-wrapper .shop-wrapper {
      max-width: 100px;
      margin-left: 1em; }
    .grid-panel .grid-desc-wrapper .slick-carousel {
      border: 2px solid red;
      width: 100%; }
    .grid-panel .grid-desc-wrapper .grid-media {
      width: 100%;
      margin-top: 35px; }
    @media screen and (min-width: 700px) {
      .grid-panel .grid-desc-wrapper {
        margin: 0;
        padding: 44px 90px; }
        .grid-panel .grid-desc-wrapper > p {
          font-size: 18px; } }
  @media screen and (min-width: 700px) {
    .grid-panel {
      padding: 1em;
      max-width: 60%;
      margin: 0 auto; }
      .grid-panel .mob-timeline-tag {
        display: none; } }

.badge-holiday-guide {
  max-width: 150px;
  margin-bottom: 1em; }

.giftguide-hero {
  background: rgba(0, 0, 0, 0.75); }
  @media screen and (min-width: 700px) {
    .giftguide-hero {
      padding-top: 1em; } }

.owl-carousel {
  width: auto;
  margin: -40px 10% 32px; }
  @media screen and (min-width: 700px) {
    .owl-carousel {
      width: 100%;
      padding: 1em 1px 0 1px;
      margin: 0px auto;
      background: rgba(0, 0, 0, 0.75); } }
  @media screen and (min-width: 1100px) {
    .owl-carousel {
      max-width: 100%;
      margin: 0 auto; } }

.owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  width: 100%;
  bottom: 0px; }
  .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    cursor: pointer; }
    .owl-dots .owl-dot > span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity .2s ease;
      border-radius: 30px; }
    .owl-dots .owl-dot.active > span {
      background: #869791; }
  @media screen and (min-width: 700px) {
    .owl-dots {
      bottom: 24px; } }
  @media screen and (min-width: 1100px) {
    .owl-dots {
      bottom: 32px; } }

.product-wrapper {
  margin-top: 35px;
  color: white;
  font-family: 'Proxima-Regular', 'Proxima-Light', 'Montserrat', sans-serif; }
  .product-wrapper > h2 {
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 18px; }
  .product-wrapper > p {
    font-size: 16px;
    line-height: 18px; }
  .product-wrapper > img {
    margin: 16px auto 0; }

.panel.endframe .product {
  max-width: 180px;
  height: auto;
  margin: 0 auto; }

.endframe-copy {
  padding-bottom: 1em; }
  .endframe-copy > a {
    color: #e72933;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out; }
    .endframe-copy > a:hover {
      color: #991118; }

.endframe-shop-cta {
  width: auto;
  max-width: 85px;
  margin-top: 1em; }

.products-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 55%;
  margin: 1em auto; }
  .products-wrapper > div {
    width: 100%; }
  @media screen and (min-width: 700px) {
    .products-wrapper > div {
      width: 33%; } }

.buy-button {
  background-color: none;
  max-width: 125px;
  margin: 33px auto;
  font-family: 'Proxima-Semibold', 'Montserrat', sans-serif; }
  .buy-button > a {
    display: block;
    transition: all 0.4s ease-in-out; }
    .buy-button > a > img {
      max-width: 125px;
      margin: 0 auto; }
    .buy-button > a:hover {
      background-color: #e72933; }

.timeline {
  position: fixed;
  z-index: 2;
  width: 100px;
  height: 75%;
  top: 10%;
  left: -500px;
  opacity: 0;
  display: none; }
  .timeline .dot {
    height: 13px;
    width: 13px;
    background-color: white;
    position: absolute;
    border-radius: 100%;
    transition: all 0.5s ease;
    z-index: 2; }
    .timeline .dot.set {
      background-color: red;
      border: none; }
    .timeline .dot.active {
      border: 2px solid red;
      background-color: white; }
    .timeline .dot.one {
      top: 0; }
    .timeline .dot.two {
      top: 33%; }
    .timeline .dot.three {
      top: 66%; }
    .timeline .dot.four {
      top: 99%; }
  .timeline .line {
    background-color: #FFF;
    position: absolute;
    width: 3px;
    height: 33%;
    left: 5px; }
    .timeline .line.line-one {
      height: 100%; }
    .timeline .line.line-active {
      background-color: red;
      z-index: 1;
      height: 1%; }
  .timeline .tag {
    position: absolute; }
    .timeline .tag.tag-morning {
      top: 16%;
      opacity: 0;
      width: 60px;
      height: auto; }
    .timeline .tag.tag-afternoon {
      top: 46%;
      opacity: 0;
      width: 80px;
      height: auto; }
    .timeline .tag.tag-night {
      top: 80%;
      width: 75px;
      height: auto;
      opacity: 0; }
  @media screen and (min-width: 700px) {
    .timeline {
      display: block; } }

/* GQ Header Styles */
#n2spacer_57d325146c7ff {
  width: 100%;
  display: block;
  height: 10vh;
  position: relative; }

.float-left-container > * {
  display: inline-block;
  width: auto !important; }

#n2spacer_57d325146dd45 {
  width: 100%;
  display: block;
  height: 10vh;
  position: relative; }

#n2section_57d325146c739 {
  position: relative; }

@media only screen {
  #wrpr_57d325146c5b1 {
    max-height: none;
    min-height: 0px;
    min-width: 0px;
    background-image: none;
    background-color: transparent;
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat; }
  #wrpr_57d325146c677 {
    position: relative;
    height: 100%; }
  #n2section_57d325146c739 {
    max-height: 68px;
    min-height: 68px;
    background-color: white; }
  #n2spacer_57d325146c7ff {
    min-height: 68px;
    max-width: 140px;
    max-height: 68px;
    position: absolute;
    left: 0%;
    top: 0%;
    min-width: 140px;
    background-image: url("../img/gq-logo.svg");
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat; }
  #n2spacer_57d325146dd45 {
    max-height: 68px;
    min-height: 68px;
    max-width: 135px;
    min-width: 135px;
    top: 0%;
    right: 0%;
    position: absolute;
    background-image: url("https://n2ps.storied.co/uploads/3cb1c94be63648d756892585bc677ca5.jpg");
    background-size: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  #wrpr_57d325146cbf8 {
    font-size: 0.875rem; }
  #text_57d325146cd74 {
    line-height: 4.25rem;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block; }
  #wrpr_57d325146cfc4 {
    font-size: 0.875rem; }
  #text_57d325146d082 {
    line-height: 4.25rem;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block; }
  #wrpr_57d325146d2ce {
    font-size: 0.875rem; }
  #text_57d325146d39c {
    line-height: 4.25rem;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block; }
  #wrpr_57d325146d5ea {
    font-size: 0.875rem; }
  #text_57d325146d6a9 {
    line-height: 4.25rem;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block; }
  #wrpr_57d325146d8f1 {
    font-size: 0.875rem; }
  #wrpr_57d325146dbc5 {
    font-size: 0.875rem; } }

@media only screen and (max-width: 480px) {
  #wrpr_57d325146c5b1 {
    padding: 0px;
    margin: 0px;
    z-index: auto;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    max-height: none;
    min-height: 0px;
    background-position: 66% 24%; }
  .nav-container {
    display: none; } }
