/**
 * General vars, colors, fonts, block vars, hashes, etc
*/
@font-face {
  font-family: 'AvenirLTStd-Black';
  font-style: normal;
  src: local("AvenirLTStd-Black"), local("Avenir LT Std 65 Medium"), url("../fonts/7ae2772c18f7ec1a6bff9cff93c09a87.ttf") format("truetype"); }

@font-face {
  font-family: 'AvenirLTStd-Medium';
  font-style: normal;
  src: local("AvenirLTStd-Medium"), local("Avenir LT Std 65 Medium"), url("../fonts/20af692f4ddaba3a7c0ac67fd7a8b14a.ttf") format("truetype"); }

@font-face {
  font-family: A2-Semibold;
  font-style: normal;
  src: url("../fonts/A2Regular-Semibold.woff"); }
