html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  box-sizing: border-box; }

/**
 * universal baseline
 * 1 font-smoothing makes our text sharp
 * 2 on really supported on mozilla / opera / safari
 * 3 wont work on firefox unfortunately
 * 5 this setting can speed up font rendering significantly, esp on mobile
 * 6 remove click delay on microsoft devices
 */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  touch-action: manipulation; }

/**
 * General vars, colors, fonts, block vars, hashes, etc
*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font: 400 1em/1.5 Georgia,"Times New Roman",Times,serif; }

.sections-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.panel {
  border: 1px solid blue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative; }
  .panel > p {
    color: red; }

.bg-gradient {
  border: 5px solid red;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.bg-img {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 0;
  background: url("/img/sky.jpg") top left no-repeat;
  background-size: cover; }

.logo-lockup {
  max-width: 300px;
  position: relative;
  text-align: center; }
  .logo-lockup .logos {
    max-width: 125px;
    height: auto;
    margin: 0 auto; }
  .logo-lockup .my-peak-moment {
    width: 100%;
    height: auto;
    margin-top: 12px; }
  .logo-lockup .linebreak {
    border-bottom: 4px solid black;
    width: 100%;
    display: block;
    margin-top: 8px; }
    .logo-lockup .linebreak.red {
      border-bottom: 4px solid #e72933; }
  .logo-lockup .intro-copy {
    color: #FFF;
    font-size: 14px;
    line-height: 16px;
    margin-top: 1em; }

.intro-nav-grid {
  width: 100%;
  margin-top: 32px;
  max-width: 1200px;
  position: relative; }
  .intro-nav-grid .grid-item-photo-name {
    width: 125px;
    margin: 0 auto;
    display: block;
    margin-top: 12px; }

@supports (display: grid) {
  .intro-nav-grid {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%; }
    .intro-nav-grid > div .grid-item-photo {
      width: 100%;
      height: auto; } }

.timeline {
  position: fixed;
  z-index: 2;
  width: 100px;
  height: 75%;
  top: 10%;
  left: -500px;
  opacity: 0; }
  .timeline .dot {
    height: 13px;
    width: 13px;
    background-color: white;
    position: absolute;
    border-radius: 100%;
    transition: all 0.5s ease;
    z-index: 2; }
    .timeline .dot.set {
      background-color: red;
      border: none; }
    .timeline .dot.active {
      border: 2px solid red;
      background-color: white; }
    .timeline .dot.one {
      top: 0; }
    .timeline .dot.two {
      top: 33%; }
    .timeline .dot.three {
      top: 66%; }
    .timeline .dot.four {
      top: 99%; }
  .timeline .line {
    background-color: #FFF;
    position: absolute;
    width: 3px;
    height: 33%;
    left: 5px; }
    .timeline .line.line-one {
      height: 100%; }
    .timeline .line.line-active {
      background-color: red;
      z-index: 1;
      height: 1%; }
  .timeline .tag {
    position: absolute;
    width: 120px; }
    .timeline .tag.tag-morning {
      top: 16%;
      opacity: 0; }
    .timeline .tag.tag-afternoon {
      top: 46%;
      opacity: 0; }
